[submodule "Networking"]
	path = Networking
	url = https://github.com/wata-chinhtran/DINetworking.git
[submodule "ProductModules"]
	path = ProductModules
	url = https://github.com/wata-chinhtrann/SecondModular.git
[submodule "ServiceModules"]
	path = ServiceModules
	url = https://github.com/wata-chinhtran/FirstModular.git
